.Navbar {
  background-color: rgb(82, 83, 87);
  display: flex;
  justify-content: space-around;
}
.Link {
  color: white;
  text-decoration: none;
  margin: 1rem;
  font-weight: 500;
  font-size: large;
}
